.mainMenu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav.nav {
    background: rgba(228, 228, 228);
    z-index: 99;
}

.card {
    width: 90%;
}

.hero {
    background-image: url("../img/background.jpg") !important;
    background-attachment: fixed !important;
    background-position: 90% 85% !important;
    text-shadow: 10px 10px 20px black, 2em 5em 2em black;
}

.card-footer img {
    /*height: 30px;*/
    width: 20px;
    opacity: 0.8;
}

.card-footer-item:not(:last-child) {
    border-right: 0 !important;
}